<div class="btn-group">
	<button mode="day" class="btn-mini btn<%=mode=='day'   ? ' btn-primary' : '' %>">Day</button>
	<button mode="week" class="btn-mini btn<%=mode=='week'  ? ' btn-primary' : '' %>">Week</button>
	<button mode="month" class="btn-mini btn<%=mode=='month' ? ' btn-primary' : '' %>">Month</button>
</div>

<div id="<%=id%>" style="height: <%=initialHeight%>px;"></div>
